#features-container{
    background-color: hsla(120, 26%, 5%, 0.8);
    color: hsla(0, 0%, 100%, 0.9);
    border-radius: 0.2rem;
    padding: 2rem;
}
#feature{
    padding: 1.2rem;
    display: flex;
    align-items: center;
}

.feature-txt{
    margin-left: 1.5rem;
}

.feature-title{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.feature-paragraph{
    font-size: 1rem;
    margin: 0.5rem 0;
}