html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-padding-top: 30px;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $gray;
    font-weight: 500;
}