html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-padding-top: 60px;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin-top: 4rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(../assets/ufo-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main{
    position: relative;
    max-width: 800px;
}

section{
    margin: 2rem 0;
    border-radius: 0.2rem;
    padding: 2rem;
    background-color: hsla(120, 26%, 5%, 0.8);
    color: hsla(0, 0%, 100%, 0.9);
}

a, a:visited, a:hover {
    text-decoration: none;
    color: hsl(0, 0%, 94%);
    font-weight: 500;
}