#header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#nav-bar{
    width: 100%;
    height: 3rem;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;
}

#nav-logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bolder;
    height: inherit;
}

.logo-container{
    padding: 0.2rem;
    height: 100%;
}

#title:hover{
    color: hsl(146, 83%, 36%);
}

.nav-icon{
    height: 80%;
    border-radius: 50%;
    background-color: hsl(146, 83%, 36%);
    margin: 0 1rem 0 0;
    overflow: hidden;
}

#header-img{
    height: 100%
}
#nav-logo:hover{
    #header-img{
    position: relative;
    animation-name: ufo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

@keyframes ufo {
    0% {
        top: -10px;
        left: -30px;
    }
    50% {
        top: 0px;
        left: 0px;
    }
    100% {
        top: -15px;
        left: 30px;
    }
    
}

#nav-links{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    a{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            display: block;
            height: 3px;
            left: 0;
            right: 0;
            bottom: -14px;
            background: hsl(146, 83%, 36%);
            opacity: 0;
            transition: opacity 150ms ease-in-out;
        }
        
        &:hover{
            color: hsl(146, 83%, 36%);
            text-shadow: $sombra;
            &::before{
                opacity: 1;
            }
        }
    }
    
}
